[bumpversion]
current_version = 1.7.0
commit = True
tag = True

[bumpversion:file:framework/hypergrowth/setup.py]

[bumpversion:file:framework/hypergrowth/hypergrowth/__init__.py]

[bumpversion:file:framework/example/setup.py]

[bumpversion:file:framework/example_shared/setup.py]
